:root {
    --primary-color: #4A4A4A;
    --secondary-color: #8b4513;
    --accent-color: #ff6600;
}

/* Saatler */
.hours {
    background-color: #fff;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
}

.hours h2 {
    color: var(--primary-color);
    font-size: 24px;
    margin-bottom: 20px;
}

.hours .hour-buttons button {
    height: 35px;
    margin: 5px;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 614;
    color: #fff;
    background-color: #ff6600;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

/* Takvim */
.calendar {
    background-color: #fff;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.calendar-header button {
    border: none;
    background-color: transparent;
    color: var(--primary-color);
    font-size: 24px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.calendar-header button:hover {
    color: #ff6600;
}

.calendar-header h2 {
    color: var(--primary-color);
    font-size: 24px;
    font-weight: bold;
}

.weekdays {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.weekday {
    width: calc(100% / 7);
    text-align: center;
    font-size: 18px;
    color: var(--primary-color);
}

.days {
    display: flex;
    flex-wrap: wrap;
}

.day {
    width: calc(100% / 7);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: var(--primary-color);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.day:hover {
    background-color: #ff6600;
    color: #fff;
}
.day.active {
    background-color: #ff6600;
}
.hours .hour-buttons .active {
    background-color:#8b4513;
}
#schedule-appointment {
    background-color: #007bff;
    border-color: #007bff;
    margin-top: 20px;
    display: none;
}

#schedule-appointment:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}
#warning-message {
    display: none;
}
#appointment-button {
    margin: 0 auto;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}
.previous-day {
    color: gray;
}

.current-day {
    background-color: yellow;
}


.day.disabled {
    color: gray;
}
.day.disabled:hover {
    cursor: default;
    background-color: white;
}
.today{
    background-color: rgb(133, 146, 158, 0.5);
}
.today.disabled:hover{
    background-color: rgb(133, 146, 158, 0.5);
}

#error-message {
    color: red;
    margin-bottom: 10px;
}
/* Normal stil */
@media (min-width: 992px) {
    /* Ana renkler */
    :root {
        --primary-color: #4A4A4A;
        --secondary-color: #8b4513;
        --accent-color: #ff6600;
    }
    body {
        background-color: #F9F9F9;
        font-family: Arial, sans-serif;
        font-size: 14px;
        line-height: 1.5;
        color: #333;
    }
    /* Saatler */
    .hours {
        background-color: #fff;
        padding: 20px;
        margin-top: 30px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        text-align: center;
    }

    .hours h2 {
        color: var(--primary-color);
        font-size: 24px;
        margin-bottom: 20px;
    }

    .hours .hour-buttons button {
        width: calc(100% / 3 - 10px);
        height: 50px;
        margin: 5px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        font-weight: 700;
        color: #fff;
        background-color: #ff6600;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }
}

/* Özel stiller */
@media (max-width: 991px) {
    /* Ana renkler */
    :root {
        --primary-color: #4A4A4A;
        --secondary-color: #8b4513;
        --accent-color: #ff6600;
    }
    body {
        background-color: #F9F9F9;
        font-family: Arial, sans-serif;
        font-size: 16px;
        line-height: 1.5;
        color: #333;
    }
    /* Saatler */
    .hours {
        margin-top: 15px;
    }
    .modal-dialog{
        max-width: 700px;
    }
    .hours h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .hours .hour-buttons button {
        width: calc(100% / 2 - 10px);
        height: 40px;
        margin: 5px;
        font-size: 16px;
    }
}